Django>=5.2.2,<5.3
celery>=5.5.3,<6.0
redis>=6.2.0,<7.0
asgiref>=3.8.1
sqlparse>=0.5.3
tzdata>=2025.2
python-dotenv>=1.1.0
python-dateutil>=2.9.0

# Django ilə bağlı əlavə komponentlər
django-crispy-forms>=2.4
crispy-bootstrap5>=2025.6
django-jazzmin>=3.0.1
django-recaptcha>=4.1.0
django-simple-captcha>=0.6.2
django-ratelimit>=4.1.0
django-simple-history>=3.8.0
django-ranged-response>=0.2.0

# Excel və məlumat ixracı üçün
openpyxl>=3.1.5
et_xmlfile>=2.0.0

# PDF yaratma
weasyprint>=65.1
tinycss2>=1.4.0
cssselect2>=0.8.0
pydyf>=0.11.0
pyphen>=0.17.2
tinyhtml5>=2.0.0
webencodings>=0.5.1
fonttools>=4.58.2
zopfli>=0.2.3.post1
Brotli>=1.1.0

# Pillow - şəkil və captcha dəstəyi üçün
pillow>=11.2.1
