{% extends 'core/base.html' %}

{% block title %}Şifrə Bərpası{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-header text-center">
                <h3 class="mb-0">Şifrəni Bərpa Et</h3>
            </div>
            <div class="card-body">
                <p>Şifrənizi bərpa etmək üçün qeydiyyatdan keçdiyiniz e-poçt ünvanınızı daxil edin. Sizə yeni şifrə
                    təyin etmək üçün təlimatlar göndəriləcək.</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.email.id_for_label }}" class="form-label">E-poçt Ünvanı</label>
                        <input type="email" name="email" class="form-control" required
                            id="{{ form.email.id_for_label }}">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Bərpa Linki Göndər</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}