{% extends 'core/base.html' %}

{% block title %}Yeni Şifrə Təyin Et{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-header text-center">
                <h3 class="mb-0">Yeni Şifrə Təyin Et</h3>
            </div>
            <div class="card-body">
                {% if validlink %}
                <p>Zəhmət olmasa, yeni şifrənizi iki dəfə daxil edin.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-primary">Şifrəni Dəyişdir</button>
                    </div>
                </form>
                {% else %}
                <div class="alert alert-danger">
                    Şifrə bərpası üçün istifadə etdiyiniz link etibarsızdır. Çox güman ki, o, artıq istifadə edilib.
                    Zəhmət olmasa, şifrə bərpası prosesini yenidən başladın.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}