{% load i18n %}
{% autoescape off %}
{% blocktrans with user_full_name=user.get_full_name %}Salam, {{ user_full_name
}}!{% endblocktrans %}

{% trans "Biz sizin e-poçt ünvanınız üçün şifrə sıfırlama tələbi aldıq." %}

{% trans "Yeni şifrə təyin etmək üçün aşağıdakı linkə daxil olun:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid
token=token %}

{% trans "Əgər bu sorğunu siz etməmisinizsə, bu e-poçta məhəl qoymayın." %}

{% trans "Hörmətlə," %}
{% trans "Qiymətləndirmə Sistemi Komandası" %}

{% endautoescape %}