{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}{% trans "Əlçatan Deyil" %}{% endblock %}

{% block content %}
{# Əvvəlcə tərcümələri dəyişənlərə mənimsədirik #}
{% trans "Giriş Rədd Edildi" as error_title %}
{% trans "Bu səhifəyə daxil olmaq üçün icazəniz yoxdur." as error_message %}

{# İndi dəyişənləri include-a ötürürük #}
{% include 'errors/components/generic_error.html' with code="403" color="danger" title=error_title message=error_message
icon="lock-fill" %}
{% endblock %}