{% extends 'core/base.html' %}
{% load static i18n %}

{% block title %}{% trans "Ana Səhifə" %}{% endblock %}

{% block content %}

{% if aktiv_plan %}
<div class="alert alert-info shadow-sm mb-4">
    <h4 class="alert-heading">{% trans "Aktiv İnkişaf Planınız" %}</h4>
    <p>{% trans "Sizin üçün" %} <strong>{{ aktiv_plan.dovr.ad }}</strong> {% trans "dövrü üzrə bir inkişaf planı
        mövcuddur." %}</p>
    <hr>
    <a href="{% url 'plan_bax' aktiv_plan.id %}" class="btn btn-primary fw-bold">{% trans "Plana Bax" %}</a>
</div>
{% endif %}
<h2>{% trans "Qiymətləndirmə Tapşırıqlarınız" %}</h2>
<hr>

{% if qiymetlendirmeler %}
<p>{% trans "Aşağıdakı şəxslər üçün qiymətləndirməni tamamlamalısınız:" %}</p>
<div class="list-group">
    {% for q in qiymetlendirmeler %}
    <a href="{% url 'qiymetlendirme_etmek' q.id %}" class="list-group-item list-group-item-action">
        <strong>{{ q.qiymetlendirilen.get_full_name }}</strong> ({{ q.qiymetlendirilen.vezife }})
        <br>
        <small class="text-muted">{% trans "Qiymətləndirmə dövrü" %}: {{ q.dovr.ad }}</small>
    </a>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-light">
    {% trans "Hal-hazırda tamamlanmalı qiymətləndirmə tapşırığınız yoxdur." %}
</div>
{% endif %}

{% endblock %}